body {
    background:#d2fafb;
}

.titulo {
    text-align:center; 
    font-family:'Bangers',cursive; 
    font-size:50px; 
    color:#6bc5d2;
}

.participantes {
    display:flex;
    flex-wrap: wrap; 
    justify-content:center;
}

.personagem {
    width: 300px; 
    height: 300px; 
    object-fit:cover; 
    border-radius:50%;
}

p {
    text-align:center; 
    font-family:'Bangers',cursive; 
    font-size:20px;
}
